<!doctype html >
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en-US"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title><%= Refinery::Core.site_name %></title>
    
    <!-- Keywords and Meta -->
    <meta name="keywords" content="---" />
    <meta name="description" content="---">
    <meta name="author" content="Backend with collaboration of The Design Pill">
    <!-- Keywords and Meta -->

    
    <!-- Web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,500italic,400italic,700,700italic%7CRoboto+Condensed:400,700%7CRoboto+Slab' rel='stylesheet' type='text/css'>
    <!-- End web fonts -->

    <!-- Start stylesheets -->
    
    <!-- End:stylesheets -->

 	 <!-- Hack for the stupid IE -->
   <!--[if lte IE 8]>
    <script src="assets/js/respond.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="assets/css/photobox.ie.css">
    <script src="assets/js/html5shiv.js"></script>
    <![endif]-->
		
		<!-- End hack -->
</head>

<body>
    <!-- Start page outer wrap -->
    <div id="page-outer-wrap">
        <!-- Start page inner wrap -->
        <div id="page-inner-wrap">        
            
						<!-- Start Header -->
						<!-- End header-->

            <!-- Start Slider -->

						<!-- End Slider> -->

            <!-- start:container -->
            <div class="container">
                
                <!-- start:page content -->
                <div id="page-content" class="clearfix">
                    
                    <!-- start:main -->
                    <div id="main">
                        
                        <!-- start:row -->
                        <div class="row">
                            
                            <!-- start:col -->
                            <div class="col-md-9 separator-right">
                                
                                <!-- Start Ranking -->
                                <section class="section-full cat-business-light news-layout news-lay-1 relative">
                                    
                                    
                                    <!-- start:row -->
                                    <div class="row">

                                        
                                        <!-- Start first col -->
                                        <div class="col-xs-4">
                                            <article>
																						 Ranking row 	
                                            </article>
                                        </div>
                                        <!-- end col -->
                                        
                                        <!-- Start second col -->
                                        <div class="col-xs-4">
                                            <!-- start:article.linkbox -->
                                            <article>                                        
                                            </article>
                                            <!-- end:article.linkbox -->
                                            
                                        </div>
                                        <!-- end:col -->
                                        
                                        <!-- start:col -->
                                        <div class="col-xs-4">
                                            <!-- Start article.linkbox -->
                                            <article>                                        
                                            </article>
                                            <!-- end:article.linkbox -->
                                        </div>
                                        <!-- end:col -->
                                        
                                        
                                    </div>
                                    <!-- end:row -->
                                </section>
                                <!-- end:business-news -->                                
                                                                <!-- start:videos -->
                                <section class="section-full cat-videos no-padding">
                                    
                                    <!-- start:row -->
                                    <div class="row">
                                        
                                        <!-- start:col -->
                                        <div class="col-sm-8">
                                            
                                            <article class="linkbox cat-showtime">
                                                <a href="#">
                                                    <img src="images/dummy/334x301.jpg" width="334" height="301" alt="Responsive image" class="img-responsive" />
                                                    <div class="overlay">
                                                        <h2>Victor Cruz</h2>
                                                    </div>
                                                </a>
                                            </article>
                
                                        </div>
                                        <!-- end:col -->
                                        
                                        <!-- start:col -->
                                        <div class="col-sm-4">
                                            
                                            <article class="linkbox cat-showtime">
                                                <a href="#">
                                                    <img src="images/dummy/270x165.jpg" width="274" height="150" alt="Responsive image" class="img-responsive" />
                                                    <div class="overlay">
                                                        <h3>Emma Cruz</h3>
                                                    </div>
                                                </a>
                                            </article>
                                            
                                            <article class="linkbox cat-showtime">
                                                <a href="#">
                                                    <img src="images/dummy/270x165.jpg" width="274" height="150" alt="Responsive image" class="img-responsive" />
                                                    <div class="overlay">
                                                        <h3>Daysi Cruz</h3>
                                                    </div>
                                                </a>
                                            </article>
                
                                        </div>
                                        <!-- end:col -->
                
                                    </div>
                                    <!-- end:row -->
                                    
                                </section>
                                <!-- end:videos -->                                
                                                                <!-- start:reviews -->
                                <section class="section-full top-padding cat-reviews news-layout news-lay-2">
                                    
                                    <header>
                                        <h2>Julian Cruz</h2>
                                        <span class="borderline"></span>
                                    </header>
                                    
                                    <!-- start:row -->
                                    <div class="row">
                                        
                                        <!-- start:col -->
                                        <div class="col-xs-6 col-sm-3">
                                            <!-- start:article.linkbox -->
                                            <article class="review">
                                                <a href="#">
                                                    <img src="<%= asset_path '120x105.jpg' %>" width="120" height="105" alt="Responsive image" class="img-responsive" />
                                                    <h3>Aliquam sollicitudin enim sit hendrerit</h3>      
                                                </a>
                                                <div class="review-rating">
                                                    <ul class="rating">
                                                        <li class="li-rated"></li>
                                                        <li class="li-rated"></li>
                                                        <li class="li-rated"></li>
                                                        <li class="li-rated"></li>
                                                        <li></li>
                                                    </ul>
                                                </div>
                                            </article>
                                            <!-- end:article.linkbox -->
                                        </div>
                                        <!-- end:col -->
                                        
                                        <!-- start:col -->
                                        <div class="col-xs-6 col-sm-3">
                                            <!-- start:article.linkbox -->
                                            <article class="review">
                                                <a href="#">
                                                    <img src="<%= asset_path '120x105.jpg' %>" width="120" height="105" alt="Responsive image" class="img-responsive" />
                                                    <h3>Maecenas in egestas ligula</h3>      
                                                </a>
                                                <div class="review-rating">
                                                    <ul class="rating">
                                                        <li class="li-rated"></li>
                                                        <li class="li-rated"></li>
                                                        <li class="li-rated"></li>
                                                        <li class="li-rated"></li>
                                                        <li class="li-rated"></li>
                                                    </ul>
                                                </div>
                                            </article>
                                            <!-- end:article.linkbox -->
                                        </div>
                                        <!-- end:col -->
                                        
                                        <!-- start:col -->
                                        <div class="col-xs-6 col-sm-3">
                                            <!-- start:article.linkbox -->
                                            <article class="review">
                                                <a href="#">
                                                    <img src="<%= asset_path '120x105.jpg' %>" width="120" height="105" alt="Responsive image" class="img-responsive" />
                                                    <h3>Ligula eu feugiat lectus</h3>      
                                                </a>
                                                <div class="review-rating">
                                                    <ul class="rating">
                                                        <li class="li-rated"></li>
                                                        <li class="li-rated"></li>
                                                        <li></li>
                                                        <li></li>
                                                        <li></li>
                                                    </ul>
                                                </div>
                                            </article>
                                            <!-- end:article.linkbox -->
                                        </div>
                                        <!-- end:col -->
                                        
                                        <!-- start:col -->
                                        <div class="col-xs-6 col-sm-3">
                                            <!-- start:article.linkbox -->
                                            <article class="review">
                                                <a href="#">
                                                    <img src="<%= asset_path '120x105.jpg' %>" width="120" height="105" alt="Responsive image" class="img-responsive" />
                                                    <h3>Odio non volutpat pulvinar</h3>      
                                                </a>
                                                <div class="review-rating">
                                                    <ul class="rating">
                                                        <li class="li-rated"></li>
                                                        <li class="li-rated"></li>
                                                        <li class="li-rated"></li>
                                                        <li class="li-rated"></li>
                                                        <li></li>
                                                    </ul>
                                                </div>
                                            </article>
                                            <!-- end:article.linkbox -->
                                        </div>
                                        <!-- end:col -->
                                        
                                        
                                        
                                    </div>
                                    <!-- end:row -->
                                </section>
                                <!-- end:reviews -->        
                                <!-- start:row -->
                                <div class="row top-margin">
                                    <!-- start:col -->
                                    <div class="col-sm-6">
                                        
                                            
                                    </div>
                                    <!-- end:col -->
                                    <!-- start:col -->
                                    <div class="col-sm-6">                                    
                                        
                                        
                                    </div>
                                    <!-- end:col -->
                                </div>
                                <!-- end:row --> 
                                
                                
                            </div>
                            <!-- end:col -->
                            
                            <!-- start:col -->
                            <div class="col-md-3">
                                
                                                                <!-- start:latest-news -->
                                <section class="section-news news-layout">
                                    <!-- start:header -->
                                    <header>
                                        <h2><a href="#">Kaki Mancebo</a></h2>
                                        <span class="borderline"></span>
                                    </header>
                                    <!-- end:header -->
                                    
                                    <!-- start:row -->
                                    <div class="row">
                                        <!-- start:col -->
                                        <div class="col-xs-4 col-sm-12">
                                            <!-- start:article -->
                                            <!-- end:article -->
                                        </div>
                                        <!-- end:col -->
                                        
                                        <!-- start:col -->
                                        <div class="col-xs-4 col-sm-12">
                                            <!-- start:article -->
                                            <article>                                        
                                            </article>
                                            <!-- end:article -->
                                        </div>
                                        <!-- end:col -->
                                        
                                        <!-- start:col -->
                                        <div class="col-xs-4 col-sm-12">
                                            <!-- start:article -->
                                            <article>                                        
                                                <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vulputate porttitor quam.</a></h3>
                                                <span class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vulputate porttitor quam, sit amet dictum lacus ornare suscipit.</span>                                                                                    
                                                <span class="published">Nov 09, 2014</span>
                                            </article>
                                            <!-- end:article -->
                                        </div>
                                        <!-- end:col -->
                                        
                                        <!-- start:col -->
                                        <div class="col-xs-4 col-sm-12">
                                            <!-- start:article -->
                                            <article>                                        
                                            </article>
                                            <!-- end:article -->
                                        </div>
                                        <!-- end:col -->
                                        
                                        <!-- start:col -->
                                        <div class="col-xs-4 col-sm-12">
                                            <!-- start:article -->
                                            <article>                                        
                                            </article>
                                            <!-- end:article -->
                                        </div>
                                        <!-- end:col -->
                                        
                                        <!-- start:col -->
                                        <div class="col-xs-4 col-sm-12">
                                            <!-- start:article -->
                                            <article>                                        
                                                <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vulputate porttitor quam.</a></h3>
                                                <span class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vulputate porttitor quam, sit amet dictum lacus ornare suscipit.</span>                                                                                    
                                                <span class="published">Nov 09, 2014</span>
                                            </article>
                                            <!-- end:article -->
                                        </div>
                                        <!-- end:col -->
                                    </div>
                                    <!-- end:row -->
                                </section>
                                <!-- end:latest-news -->                                
                                <div class="ad">
                                    <a href=""><img src="<%= asset_path 'banner_160x600.png' %>" width="160" height="600" alt="" /></a>
                                </div>
                                
                                                                <!-- start:latest-news -->
                                <!-- start:latest-news -->
                                <!-- end:latest-news -->                                                                
                            </div>
                            <!-- end:col -->
                            
                        </div>
                        <!-- end:row -->
        
                        
                    </div>
                    <!-- end:main -->
                    
                    <!-- start:sidebar -->
                    <div id="sidebar">
                        
                        
                        <!-- Start section module-timeline -->
                        <section class="module-timeline">
                            <!-- start:header -->
                            <header>
                                <h2>Calendario de Eventos</h2>
                                <span class="borderline"></span>
                            </header>
                            <!-- end:header -->
                            
                            <!-- start:articles -->
                            <div class="articles">
                            </div>
                            <!-- end:articles -->
                            
                        </section>
                        <!-- End Section-module-timeline -->
                        
                        <!-- start:section-module-quote -->
                        <section class="module-quote">
                            <!-- start:header -->
                            <header>
                                <h2>Tweet más reciente</h2>
                                <span class="borderline"></span>
                            </header>
                            <!-- end:header -->
                            
                            <!-- start:blockquote-quote -->
                            <blockquote>
                                <p>Resentment and complaint are appropriate neither for oneself nor others.</p>
                                <footer>Victor Cruz <cite title="Source Title">Wired Magazine</cite></footer>
                            </blockquote>
                            <!-- end:blockquote-quote -->
                        </section>
                        <!-- end:section-module-quote -->
                        
                        <!-- Start module -->
												<!-- End module -->
												
                        
                        <!-- start:advertising -->
                        <div class="ad ad-separator">
                            <a href=""><img src="images/dummy/banner_300x250.png" width="300" height="250" alt=""></a>
                        </div>
                        <!-- end:advertising -->
                        

                        
                    </div>
                    <!-- end:sidebar -->                    
                </div>
                <!-- end:page content -->
            
            </div>
            <!-- end:container -->
    

            <!-- footer:page footer -->
            <footer id="page-footer">
                
                <!-- start:container -->
                <div class="container">
                
                    
                    <!-- start:row -->
                    <div class="about row">
                    
                        <!-- start:col -->
                        <div class="col-sm-12 col-md-3">
                            <h3><a href="#"><img src="<%= asset_path 'logo-black.png' %>" alt="Comisión Nacional de Deportes" /></a></h3>
                        </div>
                        <!-- end:col -->
                        
                        <!-- start:col -->
                        <div class="col-sm-6 col-md-5">
														content footer
                        </div>
                        <!-- end:col -->
                        
                        <!-- start:col -->
                        <div class="col-sm-6 col-md-4">
                            <h4>Links</h4>
                            <ul>
                                <li><a href="#">Link 1</a></li>
                            </ul>
                        </div>
                        <!-- end:col -->

                    </div>
                    <!-- end:row -->
                    
                    <!-- start:row -->
                    <div class="copyright row">
                    
                        <!-- start:col -->
                        <div class="col-sm-6">
                            &copy; <a href="#">Comisión Nacional de Deportes</a> 2014. Todos los Derechos Reservados.
                        </div>
                        <!-- end:col -->
                        
                        <!-- start:col -->
                        <div class="col-sm-6 text-right">
                            Powered by Backend.
                        </div>
                        <!-- end:col -->

                    </div>
                    <!-- end:row -->
                
                </div>
                <!-- end:container -->
        
            </footer>
            <!-- end:page footer -->
        
        </div>
        <!-- end:page inner wrap -->
    </div>
    <!-- end:page outer wrap -->
    
    
</body>
</html>




<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
  </head>
  <body id="<%= canonical_id @page %>">
    <%= site_bar -%>
    <div id="page_container">
      <header id="header">
        <%= render "/refinery/header" -%>
      </header>
      <section id="page">
        <%= yield %>
      </section>
      <footer>
        <%= render "/refinery/footer" -%>
      </footer>
    </div>
    <%= render "/refinery/javascripts" %>
  </body>
</html>
